week3/assignments/activity-1.dtd

<!ELEMENT products (product+)>
<!ELEMENT product (productName, manufacturer, description?, prices, productItems)>
<!ATTLIST product sku ID #REQUIRED
                createdAt CDATA #REQUIRED
                shippable CDATA #REQUIRED>
<!ELEMENT prices (price+)>
<!ELEMENT productName (#PCDATA)>
<!ELEMENT manufacturer (#PCDATA)>
<!ATTLIST manufacturer id CDATA #REQUIRED>
<!ELEMENT description (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT productItems (#PCDATA)>